DATABASE_URL="postgresql://postgres:postgres@localhost:5432/product_trade_summary?schema=public"
PORT=3000
API_PREFIX=api
ORDER_SOURCE_URL="https://apirecycle.unii.co.th/Stock/query-transaction-demo"
PRODUCT_SOURCE_URL="https://apirecycle.unii.co.th/category/query-product-demo"
